<div class="main-bg-wrap">
  <div class="main-bg">
    <div class="group-bg">
      <div class="bg1"></div>
      <div class="bg2"></div>
      <div class="bg3"></div>
      <div class="bg4"></div>
    </div>
  </div>

  <div class="right-bg">
    <div class="bg1"></div>
  </div>
</div>

<section class="home-container">

  <div class="detail-contributor">
    <div class="detail-contributor-wrap">
      <div class="frame card_offset">
        <div class="card">
          <am-card-detail data="contributor"></am-card-detail>
        </div>
      </div>
    </div>
  </div>

</section>